{% extends "home.html" %}
{% block module %}
    <div class="card shadow mb-4">
        <div class="card-header py-3">
            <h6 class="m-0 font-weight-bold text-primary" style="font-size:120%">Admin Panel</h6>
        </div>
        <div class="card-body"> 
            <form action="{% url 'admin-panel' %}" method="POST">         
                {% csrf_token %}
                <label for='search_query'>Search: </label>
                <input required placeholder='Enter access code here' id='search_query' class='form-control' style='width:30%' type='text' name='search_query'>
                <br>
                <input id='search_button' class='btn btn-success' type="submit" value="Search">
            </form>  
            {% if match.first_name %}
                <br>
                <br>
                <p align='center' style='color:green'>Result found!</p>

                <table style="height: 150px; margin-left: auto; margin-right: auto;" border="2">
                    <tbody>
                    <tr>
                    <th style="text-align: center; width: 262px;"><span style="text-decoration: underline;"><strong>First Name</strong></span></th>
                    <th style="text-align: center; width: 263px;"><span style="text-decoration: underline;"><strong>Last Name</strong></span></th>
                    <th style="text-align: center; width: 200px;"><span style="text-decoration: underline;"><strong>Email</strong></span></th>
                    <th style="text-align: center; width: 200px;"><span style="text-decoration: underline;"><strong>Access Code</strong></span></th>
                    <th style="text-align: center; width: 146px;"><span style="text-decoration: underline;"><strong>Completed</strong></span></th>
                    </tr>
                    <tr>
                    <td style="text-align: center; width: 262px;">{{ match.first_name }}</td>
                    <td style="text-align: center; width: 263px;">{{ match.last_name }}</td>
                    <td style="text-align: center; width: 200px;">{{ match.email }}</td>
                    <td style="text-align: center; width: 300px;">{{ match.access_code }}</td>
                    {% if '1' in completed_all %}
                        <td style="text-align: center; width: 146px;"><span style="color:green" class="fas fa-fw fa-check-circle"></span></td>
                        
                    {% else %}
                    <td style="text-align: center; width: 146px;"><span style="color:red" class="fas fa-fw fa-times-circle"></span></td>
                    {% endif %}
                    </tr>
                    </tbody>
                    </table>
            {% elif '' in match %}
            <br>
            <br>
                <p style='color:red'>No matching user!</p>
            {% endif %}
        </div>
    </div>
{% endblock %}