{% extends "home.html" %}
{% block module %}
<div class="card shadow mb-4">
  <div class="card-header py-3">
    <h6 class="m-0 font-weight-bold text-primary" style="font-size:120%">Login / Register</h6>
  </div>
  <div class="card-body">
    <label for="fname">Enter Access Code:</label>
    <input type="text" id="access_code" name="access_code"></input>
    <div class="submit-row" >
      <br>
      <a href="/home/"><button>Submit</button></a>
      <p align="right">
        <a href="/register/">Click here to register if you don't have an access code.</a>
      </p>
    </div>
  </div>
</div>
{% endblock %}
