{% extends "home.html" %}
{% block module %}
<div class="card shadow mb-4">
  {% if content %}
  <div class="card-header py-3">
    <h6 class="m-0 font-weight-bold text-primary">Section # {{ content.section_num }} | Module # {{ content.module_num }}</h6>
  </div>
  <div class="card-body">
    <div class="text-center">
      <iframe height="400" width="650" class="embed-responsive-item" src="{{ content.yt_link }}" allowfullscreen></iframe>
    </div>
    <hr>
    {{ content.content|safe }}
    <div class="text-right">
      <a href="/section{{content.section_num}}-module{{content.module_num|add:1}}/"><button class='btn btn-primary btn-lg'>Proceed to Module {{ content.module_num|add:1 }}</button></a>
    </div>
  </div>
  {% else %}
  <div class="card-header py-3">
    <h6 class="m-0 font-weight-bold text-primary">Error</h6>
  </div>
  <div class="card-body">
    <div class="text-center">
      <h1>Requested module not found.</h1>
    </div>
  </div>
  {% endif %}
</div>
{% endblock %}
